* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;

  /* nome e slogan */
#nome {
  text-align: center;
  color: white;
}

#slogan {
  font-size: 1.2em;
  font-style: italic;
  color: #ccc;
}

/* sobre mim */
#sobre-mim {
  text-align: center;
  width: fit-content;
  padding: 6px 15px;
  white-space: nowrap;
  margin: 30px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  color: white;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
}

/* Seções */
.primeiro-bloco {
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid crimson;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;

}

.primeiro-bloco:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.segundo-bloco{
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid cyan;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
}

.segundo-bloco:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.terceiro-bloco {
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid darkred;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
}

.terceiro-bloco:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}


.quarto-bloco {
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid aqua;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
}

.quarto-bloco:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}


.quinto-bloco{
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid aquamarine;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
}

.quinto-bloco:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}


.sexto-bloco {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 25px auto;
  padding: 2rem;
  text-align: center;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.primeiro-bloco h3,
.segundo-bloco h3,
.terceiro-bloco h3,
.quarto-bloco h3,
.quinto-bloco h3,
.sexto-bloco h3,
.segundo-bloco h4 {
  text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.primeiro-bloco h3 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid cyan;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.segundo-bloco h3 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid cyan;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.segundo-bloco h4 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid crimson;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.terceiro-bloco h3{
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid aqua;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.quarto-bloco h3 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid orange;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.quinto-bloco h3 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid yellow;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

.sexto-bloco  h3 {
  display: flex;
  width: fit-content;
  padding: 5px 15px;
  flex-wrap: nowrap;
  margin: 0 auto;
  border-bottom: 4px solid green;
  border-radius: 25px;
    text-align: center;
  border-radius: 25px;
  color: aliceblue;
  font-size: 1.4rem;
  font-family: times new roman, sans-serif;
}

/* Parágrafos */
.primeiro-bloco p,
.segundo-bloco p,
.terceiro-bloco p,
.quarto-bloco p,
.quinto-bloco p,
.sexto-bloco p {
  color: white;
  font-family: georgia, sans-serif;
  font-style: italic;
  font-size: 1rem;
}

/* sessão motivacional */
.motivacao {
  width: 90%;
  margin: 25px auto;
  text-align: center;
  border: 3px solid #808080;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.evoluir {
  margin: 25px auto;
  text-align: center;
  border: 1px solid #808080;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
}

.evoluir:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

.evoluir h4 {
  margin: 10px auto;
  font-size: 1.5em;
  color: white;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
  border-bottom: 4px solid #808080;
  padding: 8px 15px;
  border-radius: 25px;
  width: fit-content;
  white-space: nowrap;
}

.evoluir p {
  text-align: center;
  color: white;
  font-family: Georgia, sans-serif;
  font-size: 1em;
}

.impulso {
  margin: 50px auto;
  text-align: center;
  border: 1px solid aquamarine;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.1s ease;
  font-size: 0.8em;
  font-style: italic;
  color: aliceblue;
  font-family: Georgia, sans-serif;
}

.impulso:active {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}
