/* Topo do corpo da pagina */
* {
  user-select: none;
}

#corpo-da-pagina {
  width: 100%;
  justify-content: center;
  
  
}

#centro-da-pagina {
  display: block;
  margin: 10px auto;
  width:95%;
  justify-items: center;
  
}

#meu-nome {
  color: white;
  
  
}

#meu-nome h1 {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  color: white;
  font-family: times new roman, sans-serif;
  font-size: 1.7em;
}

#meu-nome p {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  color: aqua;
  margin-top: -27px;
  margin-bottom: 25px;
  font-family: roboto, georgia, sans-serif;
}

#meu-nome #frase {
  color: aqua;
  
}

#sobre-mim {
  display: block;
  width: 90%;
  justify-items: center;
  margin-bottom: 30px;
}

#sobre-mim h2 {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: times new roman, sans-serif;
  border-bottom: 2.5px solid green;
  border-radius: 25px;
  padding: 2px 15px;
  
}

#sobre-mim p {
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: georgia, sans-serif;
  font-style: italic;
  padding: 15px;
}

#primeiro-card {
  display: block;
  justify-items: center;
  border: 1.5px solid #808080;
  border-radius: 25px;
  
}

.primeiro-botao {
  display: inline-block;
  text-decoration: none;
  font-family: times new roman, georgia, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.3em;
  border-bottom: 3px solid green;
  border-top: 2px solid green;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 10px auto;
  bottom: 10px;
  position: relative;
}

#experiencia {
  width: 95%;
  border: 1.5px solid #808080;
  justify-items: center;
  border-radius: 25px;
  
}

#experiencia h2 {
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  color: white;
  font-weight: bolder;
  font-style: italic;
  border-bottom: 1.5px solid aquamarine;
  border-radius: 30px;
  padding: 5px 15px;
  font-family: times new roman, sans-serif;
}

.experiencia-card {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 85%;
  border: 1.5px solid aqua;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
}

.experiencia-card:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.10);
}

.experiencia-card i {
  color: white;
  font-size: 25px;
}

.cargo {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  font-family: times new roman, sans-serif;
  
}

.tempo {
  color: #808082;
  font-weight: bold;
  
}

#escolaridade {
  width: 95%;
  border: 1.5px solid #808080;
  justify-items: center;
  border-radius: 25px;
  margin: 30px auto;
}

#escolaridade h2 {
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  color: white;
  font-weight: bolder;
  font-style: italic;
  border-bottom: 1.5px solid aqua;
  border-radius: 30px;
  padding: 5px 15px;
  font-family: times new roman, sans-serif;
}

.educacao-card {
  border: 1.5px solid aquamarine;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 85%;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
}

.nivel {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  font-family: roboto, times new roman, sans-serif;
}

.educacao-card i {
  color: white;
  font-size: 25px;
  
}

.info {
  color: #808082;
  font-weight: bold;
  font-family: roboto, times new roman, sans-serif;
}

.educacao-card:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.10);
}

#parceria {
  width: 95%;
  border: 1.5px solid #808080;
  justify-items: center;
  border-radius: 25px;
  margin: auto;
}

#parceria h2 {
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  color: white;
  font-weight: bolder;
  font-style: italic;
  border-bottom: 1.5px solid aqua;
  border-radius: 30px;
  padding: 5px 15px;
  font-family: times new roman, sans-serif;
}

.parceria-card {
  display: flex;
  justify-content: center;
  width: 85%;
  border-radius: 25px;
  padding: 10px 15px;
}

.paragrafo-parceria {
  color: aliceblue;
  font-size: 1em;
  font-family: roboto, times new roman, sans-serif;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
}

.segundo-botao {
  display: flex;
  width: fit-content;
  padding: 6px 15px;
  justify-content: center;
  margin: 15px auto;
  text-decoration: none;
  color: darkred;
  font-family: roboto, times new roman, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid #808080;
  border-bottom: 2px solid darkred;
  border-radius: 20px;
}

#style-space {
   width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.strelas {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.strelas input {
  display: none;
}
.strelas label {
  font-size: 2rem;
  color: aliceblue;
  cursor: pointer;
}

.strelas input:checked ~ label {
  color: crimson;
}

.strelas label:hover,
.strelas label:hover ~ label {
  color: crimson;
}

#formulario {
  display: flex;
  border: 2px solid #808080;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.style-formulario {
  border: 1.5px solid #808080;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: black;
  padding: 10px 15px;
  margin-top: 15px;
}

.titulo-formulario {
  color: aliceblue;
  margin: 15px auto;
  position: relative;
}

.paragrafo-formulario {
  color: darkred;
  margin: 0 auto;
  position: relative;
}

.terceiro-botao {
  color: darkred;
  font-weight: bold;
  font-size: 1.3em;
  margin: 15px auto;
  padding: 5px 15px;
  border-bottom: 2px solid darkred;
  border-radius: 20px;
  background-color: black;
}

#mensagem-agradecimento {
    color: aliceblue;
    font-size: 1.rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid darkred;
  border-radius: 25px;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 100px;
    display: none;
}
